//Цвета

@color-white: #ffffff;
@color-text-1: #959aa8;
@color-text-2: #f97e76;

@bg-color-1: #eff3f7;
@bg-color-2: #48cbe8;
@bg-color-3: #849db5;
@bg-color-4: rgba(249, 126, 118, 0.33);
@bg-color-5: rgba(73, 187, 123, 0.33);
@bg-color-6: rgba(249, 126, 118, 0.33);

@border-color-1: #67dffa;
@border-color-2: #48cbe8;
@border-color-3: #3ba8c0;
@border-color-4: #687b8f;
@border-color-5: #49bb7b;

@shadow-color-1: rgba(13, 16, 7, 0.35);

.feedback {
	margin-bottom: 25px;
	background: @bg-color-1;
	border-radius: 4px;
	padding-bottom: 47px;
	height: 100%;
	overflow: hidden;
}

.big-header {
	font-size: 27px;
	text-align: center;
	color: @color-white;
	padding-top: 45px;
	padding-bottom: 45px;
	background: @bg-color-2;
	border-bottom: 15px solid @border-color-1;
	font-family: 'fira_sansbook';
	margin-bottom: 49px;
}

.feedback-block-form {
	width: 400px;
	margin: 0 auto;
}

.section1-block1 {
	float: left;
}

.section1-block2 {
	float: right;
}

.block-label {
	font-size: 19px;
	color: @color-text-1;
}

input[name="name"],input[name="email"],input[name="validation"] {
	width: 174px;
}

input[name="validation"] {
	float: right;
	margin-top: 20px;
}

input,textarea {
	border: 1px solid @border-color-2;
	border-radius: 4px;
	padding-left: 9px;
	color: @bg-color-2;
	font-family: 'fira_sanslight';
	font-size: 13px;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: top;
}

.buttons {
	border-radius: 5px;
	border: 0;
	color: @color-white;
	width: 137px;
	font-size: 19px;
	font-family: 'fira_sansbook';
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

input[type="submit"] {
	.buttons;
	float: left;
	background: @bg-color-2;
	box-shadow: inset 0 -2px 0 @border-color-3;
}

input[type="reset"] {
	.buttons;
	float: right;
	background: @bg-color-3;
	box-shadow: inset 0 -2px 0 @border-color-4;
}

.placeholders {
	color: @bg-color-2;
	font-family: 'fira_sanslight';
	font-size: 13px;
}

input::-webkit-input-placeholder {
	.placeholders;
}

input:-moz-placeholder {
	.placeholders;
}

textarea::-webkit-input-placeholder {
	.placeholders;
}

textarea:-moz-placeholder {
	.placeholders;
}


.section1-block1 {
	margin-bottom: 17px;
}

.section2 {
	margin-bottom: 10px;
}

.section3 {
	margin-bottom: 21px;
}

.captcha {
	border: 1px solid @border-color-2;
	border-radius: 4px;
	background: @color-white;
	width: 191px;
	height: 79px;
	text-align: center;
	overflow: hidden;
	float: left;

	.img-captcha {
		padding-top: 25px;
	}
}

.msg-error {
	background: @bg-color-4;
	border: 1px solid @color-text-2;
	border-radius: 4px;
	padding-left: 9px;
	margin-bottom: 9px;
	display: none;
	position: relative;
	
	.err-content {
		font-family: 'fira_sansbook';
		color: @color-text-2;
		text-align: left;
	}

	.msg-error-header {
		.err-content;
		font-size: 25px;
	}

	.msg-error-text {
		.err-content;
		font-size: 15px;
	}

	.msg-error-close {
		display: block;
		width: 11px;
		height: 11px;
		background: url(../../img/msg-error-close.png);
		position: absolute;
		top: 5px;
		right: 5px;
	}
}

.msg-success {
	display: none;
	background: @bg-color-1;
	border-radius: 4px;
	width: 318px;
	box-shadow: 0 6px 12.5px 0.5px @shadow-color-1;
	padding: 22px;
	position: relative;
	
	.b-close {
		background: url(../../img/msg-success-close.png);
		display: block;
		width: 11px;
		height: 11px;
		position: absolute;
		top: 27px;
		right: 27px;
	}

	.msg-success-wrapper {
		background: @bg-color-5;
		border-radius: 4px;
		border: 1px solid @border-color-5;
		
		.success {
			color: @border-color-5;
			font-family: 'fira_sansbook';
			padding-left: 9px;
		}

		.msg-success-header {
			.success;
			font-size: 25px;
		}

		.msg-success-text {
			.success;
			font-size: 15px;
		}
	}
}

.has-error {
	border: 1px solid @color-text-2 !important;
	background: @bg-color-6 !important;
}